/target/

# Binnary
/dist/INFO-F403-IMP.jar

# Jflex
/src/be/ac/ulb/infof403/scanner/Scanner.java
/src/be/ac/ulb/infof403/grammar/GrammarScanner.java

# Netbeans
nb-configuration.xml
nbactions.xml

# Report
/doc/Report/Report.aux
/doc/Report/Report.fdb_latexmk
/doc/Report/Report.fls
/doc/Report/Report.log
/doc/Report/Report.synctex.gz
/doc/Report/Report.tex.backup
/doc/Report/Report.toc
/doc/Report/Report.out

# Temporary file
*~

# LaTeX generate file
/test/tex/*.log
/test/tex/*.aux
/test/tex/*.out
/test/tex/*.toc
/test/tex/*.pdf

# LLVM Code
*.bc
