/target/
nb-configuration.xml
/src/be/ac/ulb/infof403/Scanner.java
/doc/Report/Report.aux
/doc/Report/Report.fdb_latexmk
/doc/Report/Report.fls
/doc/Report/Report.log
/doc/Report/Report.synctex.gz
/doc/Report/Report.tex.backup
/doc/Report/Report.toc
*~
